<!DOCTYPE html>
<html>
    <head>
        <title>Home page bgu web course Assignment1 Georgia Backpackers Traveling</title>
        <link rel="stylesheet" href="/static/CSSHomePage.css">
    </head>
    <body style="text-align: center;">
        <div>
            <h1>Georgia Backpackers Traveling</h1><br><br>
            <P style="font-size: 2vw; color: white;">
                you can enjoy this beautiful picture for a great day</P><br>
                <p>Number of people connected to website (35)
                    <meter  min="0" max="100" value="35"></meter></p><br><br>
            <a href="ContactPage.html" target="_blank">Contact Us</a>
        </div>
    </body>
</html>