<!DOCTYPE html>
<html>
    <head>
        <title>Home page bgu web course Assignment1 Aharon Strizower</title>
    </head>
    <body>
        <h1>Welcome To My Home Page</h1>
        <P style="background-color: rgb(68, 202, 68); font-size: 24px; padding: 25px; border: 2px solid gray; margin: 25px;">
            you can enjoy this beautiful picture for a great day<br>
            <img src="20191010_115154.jpg" alt="rila"  width="500px" hight="500px"><br>
            <a href="ContactPage.html" target="_blank">Contact Us</a>
        </P>
    </body>
</html>